
/* Profile js style>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.bg1{
    height: 100vh;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
.main_text1{
    font-family: 'Playball', cursive;
   
    
   
}
.main_text1 h1{
    font-size: 6vw;
    color: white;
    padding-left: 20%;
    
   
    
  

}
.main_text1 .text_animation{
    color: white;
    font-size: 4vw;
    padding-left: 20%;
   

}
.main_text1 h2{
    color: white;
    padding-left: 20%;
}

.main_img{
  
 align-items: center;
 text-align: center;
    width: 500px;
    height: 500px;
    /* border: 2px solid red; */

}
.main_img img{

    width: 800px;
    height: 450px;
    border-radius: 50%;
    /* padding-left: 20%; */
 
}

/* profile js style^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */

/* resume>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
  }
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
  .resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .resume .resume-item ul {
    padding-left: 20px;
  }
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }
  /*  */